{% extends "template.html.twig" %}

{% block body %}
	{% block pageTitle %}
		Liste des todo
	{% endblock %}


	<h3>{{"now" | date('d/m/Y')}}</h3>

	<ol class="list-group">
		{% for name,content in app.session.get('todos') %}
			<li class="list-group-item text-center">
				{{name|upper}}
				:
				{{content}}
			</li>
		{% endfor %}
	</ol>
{% endblock %}
{% block title %}
	TodO
{% endblock %}
