{% extends 'template.html.twig' %}

{% block title %}
	{{firstName}}
	{{name}}
{% endblock %}

{% block pageTitle %}
	Private_Space
{% endblock %}
{% block body %}

	<h1>
		Hello
		{{ name }}
		! ✅
	</h1>

	<p>
		Mon URL absolue est :
		{{ url('first')}}
	</p>
{% endblock %}
