<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block titre2Document %}
				Titre par defaut
			{% endblock %}
		</title>
	</head>
	<body>

		<hr>
		{% block corp2Document %}
			content for default
		{% endblock %}
		<hr>
	</body>
</html>
